.content-zone{
  background-color: #fafafa;
  padding-top: 15px;
  padding-bottom: 15px;
}
.results-block{
  display: inline-block;
  td{
    padding-bottom: 5px;
  }
}

.no-padding{
  padding: 0 !important;
}

.left-padding{
  padding-left: 15px !important;
}

.logout {
  padding-left: 0;
}

.user-name{
  padding-top: 15px;
}
.nav.navbar-right li{
  .btn{
    color: #fff;
    margin-top: 5px;
  }
  .btn-danger:hover{
    background-color: darken(#D9534F, 20%);
  }
}

/*My Friends, My Portfolio links */

.view-profile-btn, .rm-friend-btn, .add-friend-btn, .add-to-stocks-btn, .delete-stock-btn, .news-for-stock-btn{
  color:white;
  &:visited{
    color:white;
  }
}


/*Stock table*/


.stock-page-title{
  margin-bottom: 25px;
}
.stock-table-container{
  .stock-data{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.stock-info-page-panel{
  font-size: 1.2em;
  font-weight: bold;
}
.link-to-all-stock-news{
  float:right;
  margin-right: 15px;
  a{
    color:white;
  }
  a:visited{
      color:white;
  }
}
.feed-container{
  
  margin-top: 25px;
  a:hover
  {
    background-color: transparent !important;
    color: black !important;
  }
  .feed-entry-title{
    display: inline-block;
    max-width: 75%;
    font-size: 1.2em;
  }
  .feed-entry-date{
    float:right;
    font-weight: bold;
    color: gray;
  }
}

.panel-body.feed-summary{
    border-top: 1px solid #c8c8c8;
    td{
      vertical-align: top;
      img{
        margin-right: 10px;
      }
      ol{
        strong{
          display:none;
        }
        > a{
          font-weight: bold;
        }
        > li{
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }

.search-box {
  width: 100%;
}

.delete-stock-btn{
  margin-right: 5px;
}

.stock-lookup{
  margin-bottom: 30px;
}